redis-ha:
  enabled: false

controller:
  replicas: 1

server:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1
global:
  domain: localhost

certificate:
  enabled: false

server:
  extraArgs:
    - --insecure     # serve HTTP on :8080
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    hosts:
      - host: ""     # host-agnostic for Codespaces
        paths:
          - path: /
            pathType: Prefix
    tls: false
  service:
    ports:
      http: 8080

